*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    /* background-color: rgba(255, 240, 154, 0.768); */
}
#nav{
    padding: 0 40px;
    height: 100px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navpart1{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navpart1 h4{
    font-size: 13px;
    font-weight: 400;
}
#nav img{
    height: 50px; 
    margin-bottom: 5px;
}
#navpart2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#navpart2 button:nth-child(1){
    background-color: transparent;
    color: black;
    font-weight: 400;
}
#navpart2 button{
    border: none;
    padding: 12px 18px;
    font-weight: 600;
    border-radius: 50px;
    font-size: 15px;
    background-color: black;
    color: white;
}
#content{
    padding-top: 30px;
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: aquamarine; */
}
#content h3{
    background-color: rgb(249, 151, 220);
    padding: 10px 18px;
    width: fit-content;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: 500;
}
#content h1{
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    margin: 30px 0;
    line-height: 80px;
    font-family: 'Times New Roman', Times, serif;
}
#content h4{
    font-size: 17px;
    text-align: center;
    font-weight: 400;
}
#content button{
    border: none;
    padding: 14px 22px;
    font-weight: 300;
    border-radius: 50px;
    font-size: 15px;
    background-color: black;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    margin: 30px 0;
}
#bottom{
    height: 270px;
    width: 100%;
    /* background-color: red; */
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
}
#bottom::-webkit-scrollbar{
    display: none;
}
.elem{
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 220px;
    background-color: royalblue;
    /* border: 2px solid black; */
    border-radius: 30px;
    overflow: hidden;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    /* border-radius: 17px; */
}
.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -100px;
    /* border-radius: 17px; */
}
/* .elem .text-bottom{
    height: 16%;
    width: 100%;
    bottom: 0;
    position: absolute;
    color: white;
}
.text-bottom h4{
    font-size: 7px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 18px;
} */
 
#page2{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 40px;
    /* background-color: red; */
}
#page2 h1{
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.box{
    height: 280px;
    width: 320px;
    border-radius: 20px;
    background-color: yellow;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 -70px;
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -40px;
}