*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
/* #parent{
    height: 100%;
    width: 100%;
    background-color: rgb(193, 255, 255);
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
}
.child{
    height: 250px;
    width: 250px;
    background-color: crimson;
    border: 2px solid #fff;
} */
#parent{
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-color: crimson;
}
#child1{
    height: 100vh;
    width: 60%;
    background-color: lightblue;
}
#child2{
    height: 100vh;
    width: 60%;
    background-color: lightblue;
}
#box{
    height: 500px;
    width: 500px;
    background-color: royalblue;
}
@media (max-width:600px) {
    #box{
        background-color: crimson;
        height: 300px;
        width: 300px;
    }
}