*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color: rgb(255, 239, 223); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
    gap: 0 30px;
}

#nav h4{
    font-size: 15px;
    width: 600;
}
#nav i{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}
#centre{
    padding: 5px 50px;
    width: 100%;
}
#centre h1{
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
}
#centre-in{
    /* background-color: red; */
    margin-top: 50px;
    /* height: 200px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#centre-in p{
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}
#right{
    width: 20%;
}
.elem{
    /* background-color: yellow; */
    /* margin: 5px; */
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 25%;
    width: 100%;
    /* background-color: rgb(255, 0, 0); */
    background-image: url(puffer.webp);
    background-size: cover;
    background-position: 0 35%;
}